@import "tailwindcss";:root {
--background: #ffffff;
--foreground: #111111;
--primary: #000;
}

.dark {
--background: #0c0c0c;
--foreground: #e3e3e3;
--primary: #f7f1f1e1;
}

body {
background: var(--background);
color: var(--foreground);
}

.bg-background {
background: var(--background);
}

.text-foreground {
color: var(--foreground);
}

.text-primary {
color: var(--primary);
}

/* Post Style */

.medium-like-editor {
  @apply font-serif text-gray-700 dark:text-gray-200;
  line-height: 1.6;
}

.medium-like-editor h2,
.medium-like-editor h3 {
  @apply mt-10 mb-4 font-bold;
}

.medium-like-editor p {
  @apply mb-5;
}

.medium-like-editor img,
.medium-like-editor iframe {
  @apply my-6 mx-auto block rounded-lg max-w-full h-auto;
}
hr{
    color: var(--primary);
}