@import "tailwindcss";:root {
--background: #ffffff;
--foreground: #111111;
--primary: #000;
}

.dark {
--background: #0c0c0c;
--foreground: #e3e3e3;
--primary: #f7f1f1e1;
}

body {
background: var(--background);
color: var(--foreground);
}

.bg-background {
background: var(--background);
}

.text-foreground {
color: var(--foreground);
}

.text-primary {
color: var(--primary);
}